include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include snakebids2dicom *.json
recursive-include snakebids2dicom/resources *
recursive-include snakebids2dicom/config *
recursive-include snakebids2dicom/workflow *
